In [2]:
# import dependencies
import pandas as pd
import matplotlib as plt

In [3]:
# import the dataset
team_Data = pd.read_csv("Resources/teamData.csv")
player_Data = pd.read_csv("Resources/playerData.csv")

In [4]:
# load the data
team_Data.head()

   Year   Team Record  Winning Percentage   TM
0  1964  76ers  34-46               0.425  PHI
1  1965  76ers  40-40               0.500  PHI
2  1966  76ers  55-25               0.688  PHI
3  1967  76ers  68-13               0.840  PHI
4  1968  76ers  62-20               0.756  PHI

In [5]:
player_Data.head()

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
1,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
2,31,1950.0,Jake Carter,F-C,25.0,AND,11.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,8.0,NaN,NaN,NaN,32.0,38.0
3,37,1950.0,Bill Closs,SF,28.0,AND,64.0,NaN,NaN,NaN,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
4,73,1950.0,Frank Gates,G,29.0,AND,64.0,NaN,NaN,NaN,...,0.622,NaN,NaN,NaN,91.0,NaN,NaN,NaN,147.0,287.0

In [15]:
# Merging Crossreference_data and player_data - NOTE: We need to check the types of the years first

player_Data["Year"].dtypes

dtype('float64')

In [16]:
team_Data["Year"].dtypes

dtype('int64')

In [8]:
# Taking player Dataframe from 1986 till 2017
player_Data = player_Data.loc[(player_Data["Year"] >= 1986.0) & (player_Data["Year"]< 2018.0)]
player_Data

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
263,7937,1986.0,John Battle,SG,23.0,ATL,64.0,0.0,639.0,11.7,...,0.728,12.0,50.0,62.0,74.0,23.0,3.0,47.0,80.0,277.0
264,7963,1986.0,Antoine Carr,PF,24.0,ATL,17.0,0.0,258.0,14.4,...,0.667,16.0,36.0,52.0,14.0,7.0,15.0,14.0,51.0,116.0
265,7973,1986.0,Lorenzo Charles,SF,22.0,ATL,36.0,0.0,273.0,11.5,...,0.667,13.0,26.0,39.0,8.0,2.0,6.0,18.0,37.0,122.0
266,8000,1986.0,Johnny Davis,SG,30.0,ATL,27.0,7.0,402.0,13.9,...,0.864,2.0,17.0,19.0,112.0,13.0,0.0,38.0,32.0,144.0
267,8050,1986.0,Scott Hastings,PF,25.0,ATL,62.0,0.0,650.0,7.5,...,0.857,44.0,80.0,124.0,26.0,14.0,8.0,40.0,118.0,193.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24592,13341,1997.0,Rod Strickland,PG,30.0,WSB,82.0,81.0,2997.0,19.7,...,0.738,95.0,240.0,335.0,727.0,143.0,14.0,270.0,166.0,1410.0
24593,13365,1997.0,Ben Wallace,PF,22.0,WSB,34.0,0.0,197.0,6.0,...,0.300,25.0,33.0,58.0,2.0,8.0,11.0,18.0,27.0,38.0
24594,13374,1997.0,Chris Webber,PF,23.0,WSB,72.0,72.0,2806.0,21.8,...,0.565,238.0,505.0,743.0,331.0,122.0,137.0,230.0,258.0,1445.0
24595,13382,1997.0,Chris Whitney,PG,25.0,WSB,82.0,1.0,1117.0,15.2,...,0.832,13.0,91.0,104.0,182.0,49.0,4.0,68.0,100.0,430.0
24596,13394,1997.0,Lorenzo Williams,C,27.0,WSB,19.0,0.0,264.0,8.0,...,0.714,28.0,41.0,69.0,4.0,6.0,8.0,18.0,49.0,45.0